/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	width: 1440px;
	height: 100%;
	margin: 0 auto;
}

body {
	padding: 12px;
	margin: 0;
	min-height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.header-container {
	position: sticky;
	top: 0px;
	background: rgba(255, 255, 255, .8);
	margin: 0px;
	border: 2px solid rgba(172, 0, 255, 1);
	border-radius: 12px 0 12px;
}

.header-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 6px;
	padding: 0 12px;
	max-height: 100px;
}

.logo-link {
	display: block;
	width: 75px;
	height: 75px;
	border-radius: 5px;
	-webkit-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	border-radius: 12px 0 12px;
}

.logo-link:hover, .logo-link:focus-visible {
	-webkit-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	background: rgba(172, 0, 255, .2);
	-webkit-box-shadow: 0px 0px 25px 0px rgba(172, 0, 255, 1);
	box-shadow: 0px 0px 10px 0px rgba(172, 0, 255, 1);
	outline: 2px solid rgba(172, 0, 255, 1);
}

.header-title {
	margin: 0;
	text-shadow: 0 0 25px rgba(172, 0, 255, 1);
}

.label-menu {
	display: block;
	position: relative;
	width: 30px;
	height: 30px;
	cursor: pointer;
	border-radius: 6px 0 6px;
}

.label-menu:focus-visible, .label-menu:hover {
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	scale: 1.1;
	background:rgba(172, 0, 255, .4);
	-webkit-box-shadow: 0px 0px 25px 0px rgba(172, 0, 255, 1);
	box-shadow: 0px 0px 10px 0px rgba(172, 0, 255, 1);
}

.input-menu:checked + .header-menu > .label-menu > .menu-open {
	-webkit-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	scale: 1;
	opacity: 1;
}

.input-menu:checked + .header-menu > .label-menu > .menu-close {
	-webkit-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	scale: 0;
	opacity: 0;
}

.menu-open {
	-webkit-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	display: block;
	position: absolute;
	scale: 0;
	opacity: 0;
}

.menu-close {
	-webkit-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	display: block;
	position: absolute;
	scale: 1;
	opacity: 1;
}

.input-menu:focus-visible + .header-menu > .label-menu {
	scale: 1.1;
	background: rgba(172, 0, 255, .4);
}

.input-menu:focus-visible + .header-menu > .label-menu {
	scale: 1.1;
	background: rgba(172, 0, 255, .4);
}

.input-menu:focus-visible + .header-menu > .label-menu  {
	-webkit-box-shadow: 0px 0px 25px 0px rgba(172, 0, 255, 1);
	box-shadow: 0px 0px 10px 0px rgba(172, 0, 255, 1);
}

.navigation {
	max-height: 0;
	-webkit-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	overflow: hidden;
}

.input-menu:checked ~ .navigation {
	max-height: 400px;
	-webkit-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.navigation-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	gap: 24px;
	list-style-type: none;
	padding: 12px;
	margin: 0;
}

.navigation-link {
	display: block;
	text-decoration: none;
	color: white;
	font-size: 20px;
	background: rgba(172, 0, 255, .7);
	padding: 6px;
	border-radius: 6px 0 6px;
}

.navigation-link:hover,
.navigation-link:focus-visible {
	background: rgba(172, 0, 255, 1);
	outline: 2px solid rgba(172, 0, 255, 1);
	box-shadow: 0px 0px 10px 0px rgba(172, 0, 255, 1);
}

.footer-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: sticky;
	bottom: 0;
	background: rgba(255, 255, 255, .8);
	margin: 0px;
	border: 2px solid rgba(172, 0, 255, 1);
	border-radius: 12px 0 12px;
}

.contact-link {
	display: block;
	color: black;
	
}

.contact-link:hover {
	transition: all .5s ease-in-out;
	/* transform: rotate(360deg); */
}

.vk {
	border-radius: 50%;
}

.vk:hover,
.vk:focus-visible {
	/* border: 2px solid rgba(89,125,163, 1); */
	background: rgba(89,125,163, .1);
	filter: drop-shadow(0px 0px 5px rgba(89, 126, 163, 1));
	outline: none;
}

.phone {
	border-radius: 50%;
}

.phone:hover,
.phone:focus-visible {
	/* border: 2px solid rgba(0,0,0, 1); */
	background: rgba(255, 255, 255, .1);
	filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 1));
	outline: none;
}

.whatsapp {
	border-radius: 50%;
}

.whatsapp:hover,
.whatsapp:focus-visible {
	/* border: 2px solid rgba(67,216,84, 1); */
	background: rgba(67, 216, 84, .1);
	filter: drop-shadow(0px 0px 5px rgba(67, 216, 84, 1));
	outline: none;
}
 


@media (max-width: 1440px) {
	html {
		width: 1200px;
	}
}

@media (max-width: 1199px) {
	html {
		width: 992px;
	}
}

@media (max-width: 991px) {
	html {
		width: 768px;
	}
}

@media (max-width: 767px) {
	html {
		width: 100%;
	}

	.header-menu {
		flex-direction: row-reverse;
		margin: 6px;
		padding: 0 6px;
	}
	
	.label-menu {
		width: 20px;
		height: 20px;
	}

	.navigation-list {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		gap: 6px;
		padding: 6px;
	}

	.logo-link {
		width: 50px;
		height: 50px;
	}
	
	.navigation-link {
		display: block;
		text-decoration: none;
		color: white;
		font-size: 20px;
		background: blueviolet;
		padding: 6px;
		text-align: right;
	}
}

@media (max-width: 575px) {
	html {
		width: 100%;
	}
	
	.header-container {
		margin: 6px;
	}
	
	.header-menu {
		margin: 0;
	}
}